.wrapper {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: var(--bg-secondary);
}

.logoLink {
  font-weight: bold;
  color: var(--link-secondary);
  text-decoration: none;
  font-size: 18px;
}
