.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  background-color: var(--bg-alt);
}

.wrapper a,
.wrapper a:active,
.wrapper a:visited {
  color: var(--link-alt);
}