:root {
  --bg-primary: white;
  --bg-secondary: white;
  --bg-alt: #252627;
  --border-color: #D3D4D9;
  --font-family: Arial, Helvetica, sans-serif;
  --text-primary: #252627;
  --link-primary: #2461CE;
  --link-secondary: #2461CE;
  --link-alt: white;
  --red: #BB0A21;
  --blue: #2461CE;
  --black: #252627;
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  font-weight: normal;
  color: var(--text-primary);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--text-primary);
}

a {
  color: var(--link-primary);
}

a img {
  border: 0;
}

img {
  max-width: 100%;
}