:root {
  --bg-primary: white;
  --bg-secondary: lightblue;
  --bg-alt: #222222;
  --text-primary: #222222;
  --link-primary: lightblue;
  --link-secondary: #222222;
  --link-alt: white;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--link-primary);
}

.contentWrapper {
  padding: 0 10px;
}